@model IEnumerable<WardModel>

<div class="container">
    <partial name="_Notifications" />
    <div class="row py-4">
        <div class="col-6">
            <h2 class="text-primary">Ward List</h2>
        </div>

        <div class="col-6 text-end">
            <a asp-controller="Ward" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-lg"></i>
                Create New Ward
            </a>
        </div>

    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    Ward Id
                </th>
                <th>
                    Ward Name
                </th>
                <th>
                    City Name
                </th>
                <th>
                    District Name
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var Ward in Model)
            {
                <tr>
                    <td>@Ward.WardId</td>
                    <th>@Ward.WardName</th>
                    <th>@Ward.CityName</th>
                    <th>@Ward.DistrictName</th>
                    <td class="text-end w-25 p-0 align-content-center">
                        <div class="btn-group" style="min-width: 150px;">
                            <a asp-controller="Ward" asp-action="Edit" asp-route-id="@Ward.WardId" class="btn btn-primary">
                                <i class="bi bi-pencil"></i>
                                Edit
                            </a>
                            <a asp-controller="Ward" asp-action="Delete" asp-route-id="@Ward.WardId" class="btn btn-danger">
                                <i class="bi bi-trash"></i>
                                Delete
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>